<!doctype html>
<html>
  <head>
    <title>How To Play - Simon Game</title>
    <link rel="stylesheet" href="/CSS/style.css" />
  </head>
  <body class="info-page">
    <h1>How To Play Simon Game</h1>

    <div class="instructions">
      <p class="a">1 >&nbsp; The game shows a sequence by flashing colors.</p>
      <p class="b">2 >&nbsp; You must remember the order.</p>
      <p class="c">3 >&nbsp; Click the colors in the same order.</p>
      <p class="d">4 >&nbsp; Each level adds one more color.</p>
      <p class="e">5 >&nbsp; If you click the wrong color, Game Over!</p>
    </div>

    <!-- <button  ></button> -->
    <!-- <button><a href="/home" id="icone">Play Game &nbsp;🎯</a></button> -->
    <p id="P">Get Login / Singup to Play</p>
    <br />
    <button><a href="/login" id="Login">Login</a></button>&nbsp;&nbsp;&nbsp;
    <button><a href="/singup" id="SINGUP">SINGUP</a></button>
  </body>
</html>
