<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <title>Error</title>
  </head>
  <body>
    <div style="text-align: center; margin-top: 40px">
      <img src="/images/404.png" alt="404 image" width="400 " height="400" />
    </div>

    <div class="row">
      <div class="alert alert-danger mt-2 col-3 container" role="alert">
        <%= message %>
      </div>
    </div>
  </body>
  <div class="row">
    <div class="btn btn-outline-danger mt-2 col-1 container">
      <a href="/login" style="text-decoration: none black !important">
        Back login
      </a>
    </div>
  </div>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"
    defer
  ></script>
</html>
