<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page-Not-Found</title>
  </head>
  <body>
    <div style="text-align: center; margin-top: 80px">
      <img src="/images/404.png" alt="404 image" width="400 " height="400" />

      <h1 style="font-size: 48px; margin-top: 20px">Error (404)</h1>

      <p style="font-size: 20px; color: gray">
        We can't find the page you're looking for.
      </p>

      <a
        href="/"
        style="
          display: inline-block;
          margin-top: 20px;
          padding: 10px 20px;
          background: #ff385c;
          color: white;
          text-decoration: none;
          border-radius: 6px;
        "
      >
        Go Back Home
      </a>
    </div>
  </body>
</html>
